{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="about-section">
  <h1>Contact Us</h1>
  </div>

<hr>
<div class="card" style="width:auto">
  <div class="card-header">
    <h4>Team</h4>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="container">
        <h2>Abhishek Kumar</h2>
        <p>abhishekumar@gmail.com</p>
      </div>
    </li>
    <li class="list-group-item">
      <div class="container">
        <h2>Adarsh Mandola</h2>
        <p>mandoladarsh@gmail.com</p>
      </div>
    </li>
    <li class="list-group-item">
      <div class="container">
        <h2>Aditya Dhaulakhandi</h2>
         <p>adityadhaulakhandi2001@gmail.com</p>
      </div>
    </li>
    <li class="list-group-item">
      <div class="container">
        <h2>Aniket Pant</h2>
        <p>aniketpant@gmail.com</p>
      </div>
    </li>
  </ul>
</div>
  
</div>




{% endblock content %}

